body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #00bfff;
}

section {
    padding: 50px;
}

h1 {
    color: #00bfff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #1e1e1e;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-details {
    display: none;
    background: #111;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-details img {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    border-radius: 10px;
}

.card {
    cursor: pointer;
    background: #1e1e1e;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s ease;
}

.card:hover {
    background: #2a2a2a;
}